<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 3
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям
*Идеальный просмотр Jupyter notebooks возможен только локально, GitHub и nbviewer могут неправильно отбражать формулы или картинки.*

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://docs.google.com/forms/d/1KbWiGlupiSwYlqc8nmV6KjB3vNTI0C5hxZ6Tq3ZU4QA).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Датасет сформирован из реальных клинических анализов, и в нём используются признаки, которые можно разбить на 3 группы:

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('../../data/mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

Посмотрим на первые 5 записей.

In [5]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше (здесь и далее под средним понимается среднее арифметическое).**

**<font color='red'>Варианты:</font>**
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин

In [6]:
df.groupby(['gender'])['height'].mean()

gender
1    161.355612
2    169.947895
Name: height, dtype: float64

In [11]:
df['gender'].value_counts()

1    45530
2    24470
Name: gender, dtype: int64

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем реже указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [61]:
print("мужчины") if (df[df['gender']==2]['alco'].mean() - df[df['gender']==2]['alco'].mean()) < 0 else print("женщины")

женщины

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [58]:
round(df[df['gender']==2]['smoke'].mean() / df[df['gender']==1]['smoke'].mean(), 0)

12.0

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чём здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 10
- 15
- 20
- 25

In [51]:
round((df[df['smoke']==0]['age'].median() - df[df['smoke']==1]['age'].median())/30, 0)

20.0

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='https://habrastorage.org/webt/gg/38/vf/gg38vfl5ql8obqjmlsvt9es76p8.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 64 лет включительно. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу, и она не включается).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., а уровень холестерина – 4 ммоль/л, то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180), а холестерина было бы 8 ммоль/л.

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Создайте новый признак ``age_years`` – возраст в годах, округлив до целых (`round`). Для данного примера отберите курящих мужчин от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.
- Интересуют 2 подвыборки курящих мужчин возраста от 60 до 64 лет включительно: первая с верхним артериальным давлением строго меньше 120 мм рт.ст. и концентрацией холестерина – 4 ммоль/л, а вторая – с верхним артериальным давлением от 160 (включительно) до 180 мм рт.ст. (не включительно) и концентрацией холестерина – 8 ммоль/л.

Во сколько раз (округленно, `round`) отличаются доли больных людей (согласно целевому признаку, `cardio`) в этих двух подвыборках? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [33]:
df['age_years'] = round(df['age']/365,0)

round(
df[(df['gender']==2) & \
   (df['smoke']==1) & \
   (60 < df['age_years']) & \
   (df['age_years'] <= 64) & \
   (df['ap_hi']>=160) & \
   (df['ap_hi']<180) & \
   (df['cholesterol']==3)]['cardio'].mean()/
    df[(df['gender']==2) & \
       (df['smoke']==1) & \
       (60<df['age_years']) & \
       (df['age_years'] <= 64) & \
       (df['ap_hi']<120) & \
       (df['cholesterol']==1)]['cardio'].mean(), 0)


#df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
12,22584,2,178,95.0,130,90,3,3,0,0,1,1,62.0,29.983588
16,18815,2,173,60.0,120,80,1,1,0,0,1,0,52.0,20.047446
18,14791,2,165,60.0,120,80,1,1,0,0,0,0,41.0,22.038567
23,14532,2,181,95.0,130,90,1,1,1,1,1,0,40.0,28.997894
24,16782,2,172,112.0,120,80,1,1,0,0,0,1,46.0,37.858302
29,21755,2,162,56.0,120,70,1,1,1,0,1,0,60.0,21.338211
30,19778,2,163,83.0,120,80,1,1,0,0,1,0,54.0,31.239414
33,23376,2,156,45.0,110,60,1,1,0,0,1,0,64.0,18.491124
39,14574,2,166,66.0,120,80,1,1,0,0,1,0,40.0,23.951227
40,21057,2,169,74.0,130,70,1,3,0,0,0,0,58.0,25.909457
46,21940,2,173,82.0,140,90,3,1,0,0,0,1,60.0,27.398176
49,18328,2,175,95.0,120,80,1,1,0,0,1,0,50.0,31.020408
52,23388,2,162,72.0,130,80,1,1,1,0,1,1,64.0,27.434842
57,21475,2,171,69.0,140,90,1,1,0,0,1,1,59.0,23.597004
58,20556,2,159,63.0,120,60,1,1,0,0,1,1,56.0,24.919900
62,18535,2,168,69.0,120,80,1,1,0,0,0,0,51.0,24.447279
63,16864,2,175,70.0,120,80,2,1,0,0,1,0,46.0,22.857143
67,19575,2,166,85.0,150,100,1,1,0,0,1,1,54.0,30.846277
70,21787,2,165,73.0,125,90,1,1,0,0,0,0,60.0,26.813590
73,15901,2,172,84.0,140,90,1,1,1,0,1,1,44.0,28.393726
79,20960,2,165,75.0,180,90,3,1,0,0,1,1,57.0,27.548209
81,20330,2,187,115.0,130,90,1,1,0,1,1,0,56.0,32.886271
86,20649,2,169,71.0,120,80,1,1,0,0,1,1,57.0,24.859074
88,19148,2,170,69.0,130,80,1,1,0,0,1,0,52.0,23.875433
90,22099,2,171,97.0,150,100,3,1,1,0,1,1,61.0,33.172600
96,21874,2,179,95.0,150,90,1,1,0,0,1,1,60.0,29.649512
103,16039,2,180,90.0,140,90,2,2,0,0,0,0,44.0,27.777778
105,20397,2,188,105.0,120,80,1,1,0,0,1,1,56.0,29.708013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99884,19438,2,175,80.0,120,80,1,1,0,0,1,1,53.0,26.122449
99896,22609,2,166,64.0,120,80,1,3,0,0,1,1,62.0,23.225432
99897,15243,2,171,67.0,110,60,1,1,0,0,1,0,42.0,22.913033
99904,18428,2,168,64.0,110,70,1,1,0,0,1,0,50.0,22.675737
99906,23413,2,171,70.0,140,90,1,1,0,0,1,0,64.0,23.938990
99910,20962,2,174,83.0,120,80,3,1,0,0,1,1,57.0,27.414454
99919,22570,2,160,55.0,140,90,2,1,0,0,1,1,62.0,21.484375
99922,23464,2,170,97.0,130,90,2,1,0,0,1,1,64.0,33.564014
99930,23305,2,172,113.0,110,80,1,1,0,0,0,1,64.0,38.196322
99933,19137,2,167,74.0,130,80,1,1,1,1,1,0,52.0,26.533759
99936,17373,2,173,69.0,110,70,1,1,1,1,1,1,48.0,23.054562
99941,15536,2,166,90.0,120,80,1,1,1,0,1,0,43.0,32.660764
99943,15239,2,169,67.0,160,90,1,1,0,0,1,1,42.0,23.458562
99947,20587,2,169,79.0,140,90,1,1,0,0,0,1,56.0,27.660096
99950,19538,2,155,76.0,130,90,1,1,0,0,1,0,54.0,31.633715
99951,22491,2,170,72.0,120,80,1,1,0,0,0,1,62.0,24.913495
99952,15450,2,165,66.0,120,80,1,1,0,0,0,0,42.0,24.242424
99955,21416,2,168,63.0,140,1000,1,1,0,0,1,1,59.0,22.321429
99956,16093,2,157,61.0,110,90,1,1,0,0,1,0,44.0,24.747454
99957,20529,2,175,78.0,120,80,1,1,0,0,0,0,56.0,25.469388
99958,22572,2,173,103.0,140,80,3,1,1,1,0,1,62.0,34.414782
99959,20136,2,177,80.0,130,80,1,1,0,0,1,0,55.0,25.535446
99961,22142,2,175,72.0,130,80,1,1,0,0,1,0,61.0,23.510204
99963,21264,2,182,100.0,120,80,1,1,0,0,1,1,58.0,30.189591
99971,17727,2,167,69.0,110,80,1,1,0,1,0,0,49.0,24.740937
99972,17500,2,182,110.0,130,90,2,2,0,0,1,1,48.0,33.208550
99975,17926,2,168,80.0,120,80,1,1,0,0,1,1,49.0,28.344671
99978,18198,2,180,78.0,120,80,1,1,0,0,1,0,50.0,24.074074
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,53.0,26.927438
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,52.0,31.353579

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке превышает норму
- У женщин в среднем BMI ниже, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин в среднем BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [14]:
df['BMI'] = df['weight']/pow(df['height']/100, 2)

In [15]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0,23.011177

In [16]:
df['BMI'].median()

26.374068120774975

In [17]:
df.groupby('gender')['BMI'].mean()

gender
1    27.987583
2    26.754442
Name: BMI, dtype: float64

In [18]:
df.groupby('cardio')['BMI'].mean()

cardio
0    26.548175
1    28.566061
Name: BMI, dtype: float64

In [30]:
df.query("alco==0 and cardio==0").groupby('gender')['BMI'].mean()

gender
1    26.845407
2    25.872638
Name: BMI, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления строго выше верхнего
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используйте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Это вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно, `round`) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [67]:

temp = pd.DataFrame()
temp = pd.concat([df[(df['ap_lo'] > df['ap_hi'])], temp], axis=0)
temp = pd.concat([df[(df['height'] < df['height'].quantile(.025))|(df['height'] > df['height'].quantile(.975))], temp], axis=0)
temp = pd.concat([df[(df['weight'] < df['weight'].quantile(.025))|(df['weight'] > df['weight'].quantile(.975))], temp], axis=0)
round(len(temp.index)/len(df.index), 2)*100

10.0

pandas.core.frame.DataFrame